.miembro h3 {
    margin-top: 20px;
    color: #5db4c0;
    text-align: center;
    text-transform: uppercase;
}
.miembro p{
    margin-left: auto;
    margin-right: auto;
}
.miembro-descripcion{
    text-align: center;
    width: 100%;
}
.miembro img{
    border:1px solid black;
}
.social-media{
    font-size: 24px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20% !important;
}
.git-img{
   max-width: 450px;
}

/*El titulo es muy largo, para hacerlo responsive, en pantallas <390 se quita un pcoo de margen izquierdo*/
@media all and (max-width: 390px) {
  #tituloMetodologia {
    margin-left:-23px !important;
  }
  .git-img{
   max-width: 300px;
    }
}