/* Modifica la etiqueta 'HamRub' de la navbar*/
.navbar-brand {
	font-family: "Playfair Display";
}

/* Atributos texto */
h2 {
  font-family: "Nixie One", monospace;
  font-weight: bold;
}

p {
  text-align: justify;
  font-family: 'Lato';
}

#contacto {
  text-align: center;
  padding: 20px 40px 20px 40px;
}

/* Parallax */
.parallax {
    /* The image used */
    background-image: url("../images/parallax_3.jpg");

    /* Set a specific height */
    min-height: 600px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2 {
    /* The image used */
    background-image: url("../images/parallax_4.jpg");

    /* Set a specific height */
    min-height: 400px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

