/* Modifica la etiqueta 'HamRub' de la navbar*/
.navbar-brand {
	font-family: "Playfair Display";
}

/* Atributos texto */
h1 {
  font-family: "Lato", sans-serif;
  font-weight: bold;
}

h2 {
  font-family: "Lato", sans-serif;
}

h3 {
  font-family: "Lato", sans-serif;
  text-align: left;
}

p {
  text-align: justify;
  font-family: 'Roboto Slab', serif;
}

.centrar {
  text-align: center;
  padding: 20px 40px 20px 40px;
}

/* Parallax */
.parallax {
    /* The image used */
    background-image: url("../images/parallax_1.jpg");

    /* Set a specific height */
    min-height: 520px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2 {
    /* The image used */
    background-image: url("../images/parallax_2.jpg");

    /* Set a specific height */
    min-height: 400px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax3 {
    /* The image used */
    background-image: url("../images/parallax_3.jpg");

    /* Set a specific height */
    min-height: 400px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.imagenPresentacion {
  border: 1px solid black;
  padding: 5px;
  margin: 10px 0px 0px 10px;
}

@media all and (max-width: 766px) {
  .imagenPresentacion{
    margin-left:0px;
  }
}